@page "/"

<style>
    fluent-card {
        width: 100%;
        height: inherit;
    }

    .result-box {
        font-family: 'Cascadia Code', 'Consolas', 'Courier New', Courier, monospace;
        border: 1px solid #CECECE;
        background-color: #F2F2F2;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }

    .w100 {
        width: 100%;
    }

    .mt-10px {
        margin-top: 10px;
    }

    footer {
        margin: 30px 12px !important;
    }
</style>

<FluentGrid Spacing="3">
    <FluentGridItem md="4" sm="6" xs="12">
        <FluentCard>
            <h3>IP Range to CIDR</h3>
            <EditForm Model="IPRange2CIDRModel" OnValidSubmit="GetCIDR">
                <DataAnnotationsValidator />
                <FluentValidationSummary />

                <FluentStack Orientation="Orientation.Vertical">
                    <FluentTextField Placeholder="10.0.0.0 or 2001:0db8:abcd:0012:0000:0000:0000:0000" Class="w100"
                        @bind-Value="IPRange2CIDRModel.StartIP">Start IP:</FluentTextField>

                    <FluentTextField Placeholder="10.0.0.255 or 2001:0db8:abcd:0012:ffff:ffff:ffff:ffff" Class="w100"
                        @bind-Value="IPRange2CIDRModel.EndIP">End IP:</FluentTextField>

                    <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Submit">Get CIDR
                    </FluentButton>
                </FluentStack>
            </EditForm>

            @if (CIDRs.Any())
            {
                <div id="cidr-result" class="result-box">
                    @foreach (var cidr in CIDRs)
                    {
                        @cidr
                        <br />
                    }
                </div>
            }
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem md="4" sm="6" xs="12">
        <FluentCard>
            <h3>CIDR to IP Range</h3>

            <EditForm Model="CIDR2IPRangeModel" OnValidSubmit="GetIPRange">
                <DataAnnotationsValidator />
                <FluentValidationSummary />

                <FluentStack Orientation="Orientation.Vertical">
                    <FluentTextField Placeholder="10.0.0.0/24 or 2001:db8:abcd:0012::/64" Class="w100"
                        @bind-Value="CIDR2IPRangeModel.CIDR">CIDR:</FluentTextField>

                    <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Submit">Get IP Range
                    </FluentButton>
                </FluentStack>
            </EditForm>

            @if (!string.IsNullOrWhiteSpace(IPRangeStart) && !string.IsNullOrWhiteSpace(IPRangeEnd))
            {
                <div class="mt-10px">
                    <label>Start IP:</label>
                    <div id="iprange-result" class="result-box">
                        @IPRangeStart
                    </div>

                    <label>End IP:</label>
                    <div id="iprange-result" class="result-box">
                        @IPRangeEnd
                    </div>
                </div>
            }
        </FluentCard>
    </FluentGridItem>
</FluentGrid>

<FluentFooter>
    Powered by Blazor WASM on .NET @Environment.Version
</FluentFooter>
