@page "/"

<div class="row g-1 justify-content-md-center box mt-4">
    <h1 class="text-center">
        CIDR Calculator
    </h1>
    <div class="text-center">
        <small class="text-muted">Blazor WASM / .NET @Environment.Version</small>
    </div>
    <hr />

</div>