@page "/"

<div class="row g-1 justify-content-md-center box mt-4">
    <h1 class="text-center">
        CIDR Calculator
    </h1>
    <div class="text-center">
        <small class="text-muted">Blazor WASM / .NET @Environment.Version</small>
    </div>
    <hr />

    <h2>IP Range to CIDR</h2>
    <EditForm Model="IPRange2CIDRModel" OnValidSubmit="GetCIDRs">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-2">
            <label for="input-startip" class="form-label">Start IP</label>
            <InputText id="input-startip" class="form-control" placeholder="10.0.0.0" spellcheck="false" @bind-Value="IPRange2CIDRModel.StartIP" />
        </div>
        <div class="mb-2">
            <label for="input-endip" class="form-label">End IP</label>
            <InputText id="input-endip" class="form-control" placeholder="10.0.0.255" spellcheck="false" @bind-Value="IPRange2CIDRModel.EndIP" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Get CIDR(s)</button>
        </div>
    </EditForm>


    @if (CIDRs.Any())
    {
        <div id="cidr-result" class="border mt-2 p-2 bg-light">
            @foreach (var cidr in CIDRs)
            {
                @cidr <br />
            }
        </div>
    }

</div>