@page "/"

<div class="row g-1 justify-content-md-center box mt-4">
    <h1 class="text-center">
        CIDR Calculator
    </h1>
    <div class="text-center">
        <small class="text-muted">Blazor WASM / .NET @Environment.Version</small>
    </div>
    <hr />

    <h2>IP Range to CIDR</h2>
    <div class="mb-2">
        <label for="input-startip" class="form-label">Start IP</label>
        <input id="input-startip" type="text" class="form-control" placeholder="10.0.0.0" spellcheck="false" @bind="StartIP" />
    </div>
    <div class="mb-2">
        <label for="input-endip" class="form-label">End IP</label>
        <input id="input-endip" type="text" class="form-control" placeholder="10.0.0.255" spellcheck="false" @bind="EndIP" />
    </div>
    <div>
        <button class="btn btn-primary" @onclick="GetCIDRs">Get CIDR(s)</button>
    </div>

    @if (CIDRs.Any())
    {
        <div id="cidr-result" class="border mt-2 p-2 bg-light">
            @foreach (var cidr in CIDRs)
            {
                @cidr <br />
            }
        </div>
    }
   
</div>