@page "/"

<FluentHeader>
    CIDR Calculator
</FluentHeader>

<FluentGrid Spacing="3" Justify="JustifyContent.Center">
    <FluentGridItem sm="4">
        <FluentCard>
            <h3>IP Range to CIDR</h3>
            <EditForm Model="IPRange2CIDRModel" OnValidSubmit="GetCIDR">
                <DataAnnotationsValidator />
                <FluentValidationSummary />

                <FluentStack Orientation="Orientation.Vertical">
                    <FluentTextField Placeholder="10.0.0.0 or 2001:0db8:abcd:0012:0000:0000:0000:0000"
                        @bind-Value="IPRange2CIDRModel.StartIP">Start IP:</FluentTextField>

                    <FluentTextField Placeholder="10.0.0.255 or 2001:0db8:abcd:0012:ffff:ffff:ffff:ffff"
                        @bind-Value="IPRange2CIDRModel.EndIP">End IP:</FluentTextField>
                </FluentStack>

                <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Submit">Get CIDR</FluentButton>
            </EditForm>

            @if (CIDRs.Any())
            {
                <div id="cidr-result" class="border mt-2 p-2 bg-light">
                    @foreach (var cidr in CIDRs)
                    {
                        @cidr
                        <br />
                    }
                </div>
            }
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem sm="4">
        <FluentCard>
            <h3>CIDR to IP Range</h3>

            <EditForm Model="CIDR2IPRangeModel" OnValidSubmit="GetIPRange">
                <DataAnnotationsValidator />
                <FluentValidationSummary />

                <FluentStack Orientation="Orientation.Vertical">
                    <FluentTextField Placeholder="10.0.0.0/24 or 2001:db8:abcd:0012::/64"
                        @bind-Value="CIDR2IPRangeModel.CIDR">CIDR:</FluentTextField>
                </FluentStack>

                <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Submit">Get IP Range
                </FluentButton>
            </EditForm>

            @if (!string.IsNullOrWhiteSpace(IPRangeStart) && !string.IsNullOrWhiteSpace(IPRangeEnd))
            {
                <small class="d-block text-muted mt-3 mb-2">Start IP</small>
                <div id="iprange-result" class="border mt-2 mb-3 p-2 bg-light">
                    @IPRangeStart
                </div>

                <small class="d-block text-muted mb-2">End IP</small>
                <div id="iprange-result" class="border mt-2 p-2 bg-light">
                    @IPRangeEnd
                </div>
            }
        </FluentCard>
    </FluentGridItem>
</FluentGrid>

<FluentFooter>
    Blazor WASM / .NET @Environment.Version
</FluentFooter>